
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    <div>
        Burası sabit layout.
    </div>
    <div> 
        @RenderBody()
    </div>
   <div>
       Burası sabit layout sonu.
   </div>
</body>
</html>
