
@{
    Layout = null;
}

<h2>MVC KAMP TABLO ÖRNEĞİ-CATEGORY</h2>

<table>
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th> 
    </tr>
    <tr>
        <th>1</th>
        <th>Eğitim</th>
        <th>Açıklama yapıldı</th>
        <th>True</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Spor</th>
        <th>Açıklama yapıldı</th>
        <th>True</th>
    </tr>
</table>
